.navbar {
  background-color: rgba(0, 0, 0, 0.308);
  z-index: 9;
}

.landing {
  background-color: rgba(105, 105, 105, 0.671);
  position: relative;
  height: 100%;
  margin-bottom: -50px;
  top: -55.4px;
}

img {
  width: 100%;
}

.carousel-item .active {
  width: 100%;
}

#carouselExampleControls {
  width: 100%;
}

/* Banner 1 */
.banner1 {
  background: url('./images/happy2.jpg') no-repeat;
  background-size: cover;
  height: 45rem;
  color: rgb(0, 0, 0);
}

.banner1 h1 {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  width: 80%;
  padding-top: 5rem;
}

.banner1 p {
  text-align: center;
  width: 80%;
}

/* Banner 2 */
.banner2 {
  background: url('./images/clouds.jpg') no-repeat;
  background-size: cover;
  height: 45rem;
}

.banner2-content {
  position: absolute;
  bottom: 2rem;
  left: 3rem;
}

.banner2 h1 {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: left;
}

.banner2 p {
  text-align: left;
}

/* Banner 3 */
.banner3 {
  background: url('./images/simple.jpg') no-repeat;
  background-size: cover;
  height: 45rem;
  color: rgb(0, 0, 0);
  padding-top: 3rem;
}

.banner3 h1 {
  /* font-family: 'Roboto Condensed', sans-serif; */
  width: 70%;
  padding-left: 2rem;
}

.banner3 p {
  width: 70%;
  padding-left: 2rem;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.light-overlay {
  background-color: rgba(255, 236, 129, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.form-control::placeholder {
  color: #bbb !important;
}
