img {
  width: 100%;
}

/* Banner 1 */
.landing-row1 {
  background: url('./images/happy2.jpg') no-repeat;
  background-size: cover;
  color: rgb(0, 0, 0);
  height: 40rem;
  padding-top: 5rem;
}

.landing-row1 h1 {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  width: 70%;
  background: -webkit-linear-gradient(rgb(138, 138, 138), rgb(0, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.landing-row1 p {
  text-align: center;
  width: 70%;
}

/* Banner 2 */
.landing-row2 {
  background: url('./images/clouds.jpg') no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
  height: 40rem;
  padding-top: 10rem;
}

.landing-row2-content {
  position: absolute;
  bottom: 2rem;
  left: 3rem;
}

.landing-row2 h1 {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: left;
}

.landing-row2 p {
  text-align: left;
}

/* Banner 3 */
.landing-row3 {
  background: url('./images/simple.jpg') no-repeat;
  background-size: cover;
  height: 40rem;
  padding-top: 5rem;
  color: rgb(0, 0, 0);
}

.landing-row3 h1 {
  /* font-family: 'Roboto Condensed', sans-serif; */
  width: 70%;
}

.landing-row3 p {
  width: 70%;
}

/* Banner 4 */
.landing-row4 {
  background: url('./images/typing.jpg') no-repeat;
  background-size: cover;
  color: rgb(0, 0, 0);
  padding-top: 10rem;
  height: 40rem;
}

.landing {
  background-color: rgba(105, 105, 105, 0.671);
  position: relative;
  background-position: center;
  height: 100%;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
}

.landing h1 {
  margin: 0;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.light-overlay {
  background-color: rgba(255, 236, 129, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.story-intro {
  display: block;
}
